.carousel {
    height: 30%;
    display: flex;
    align-items: center;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background-color: linear-gradient(rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}